/* You can add global styles to this file, and also import other style files */
@import '../../assets/sass/_vars';
@import '../../assets/sass/_mixins';
@import '../../assets/sass/_reset';

$green: #43E895;
$dkgreen: #34B379;

header {
	height: 65px;
	top: 0px;
	padding-top: 15px;
	background: $green;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	transition: all 300ms;
	z-index: 900;

	h1 {
		font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
		font-weight: 600;
		font-size: 17px;
		color: #fff; 
	}

	nav {
		position: absolute;
		right: 0px;
		bottom: 0px;

		a.list {
			display: block;
			width: 55px;
			height: 50px;
			text-indent: -999em;
			background: url(#{$imgAssetPath}/icon_list@2x.png) no-repeat 50% 50% / 30px auto;
		}
	}
}

p {
	color: #2a2a2a;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	color: #2a2a2a;
	text-decoration: none;
	transition: all 350ms;

	@include respond-to("large") {
		&:hover {
			color: $dkgreen;
		}
	}
}

.map-view {
	display: flex;
}

.map {
	width: 100%;
	overflow: hidden;
	height: calc(100vh - 65px);
	margin-top: 65px;
	order: 2;

	agm-map {
		height: 100%;
	}

	@include respond-to("medium") {
		width: 60%;
	}

	@include respond-to("large") {
		width: 67%;
	}

	@include respond-to("huge") {
		width: 75%;
	}

}

.restaurant-list {
	width: 0;
	order: 1;
	height: calc(100vh - 65px);
	overflow: hidden;
	margin-top: 65px;

	@include respond-to("medium") {
		width: 40%;
		overflow-y: scroll;
	}

	@include respond-to("large") {
		width: 33%;
	}

	@include respond-to("huge") {
		width: 25%;
	}

	li {
		border-bottom: 1px solid #efefef;
	}

	.item-hero {
		width: 100%;
		overflow: hidden;
		position: relative;
		display: block;
		cursor: pointer;
		background: #fff;
		transition: all 200ms ease-out;
		padding: 10px 77px 10px 12px;
		

		.image {
			width: 65px;
			height: 65px;
			overflow: hidden;
			position: absolute;
			right: 12px;

			img {
				height: 65px;
				left: 50%;
				transform: translateX(-50%);
				position: absolute;
			}
		}

		.title-and-cat {
			height: 65px;
			display: flex;
			align-items: center;

			h2 {
				font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
				font-weight: 600;
				font-size: 16px;
				@include poly-fluid-sizing('font-size', (320px: 16px, 768px: 18px, 1023px: 20px, 1024px: 18px));
				color: #2a2a2a;
				margin-bottom: 3px;
			}

			h3 {
				font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
				font-weight: 400;
				font-size: 12px;
				@include poly-fluid-sizing('font-size', (320px: 12px, 768px: 14px, 1023px: 16px, 1024px: 14px));
				color: #2a2a2a;
			}
		}
	}

	.item-details {
		max-height: 0px;
		transition: all 500ms;
		overflow: hidden;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
		background: #000;

		width: 100%;
		max-width: 640px;
		position: absolute;
		top: -100px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 500;
		opacity: 0;

		@include respond-to("medium") {
			width: 80%;
			max-width: 640px;
			position: fixed;
			top: -100px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 500;
			opacity: 0;
		}

		.detail-image {
			width: 100%;
			height: 0px;
			padding-top: 9/16 * 100%;
			position: relative;

			img {
				height: 100%;
				left: 50%;
				top: 0px;
				transform: translateX(-50%);
				position: absolute;
			}
		}

		.title-and-cat {
			background: $dkgreen;
			height: 60px;
			padding-left: 12px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			display: flex;
			width: 100%;
			flex-direction: row;
			align-items: center;
			justify-content: left;
			position: relative;

			h2 {
				font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
				font-weight: 600;
				font-size: 16px;
				color: #fff;
				margin-bottom: 3px;
			}

			h3 {
				font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
				font-weight: 400;
				font-size: 12px;
				color: #fff;
			}

			.close-btn {
				display: block;
				width: 55px;
				border: 0px none;
				position: absolute;
				right: 0px;
				top: 5px;
				height: 50px;
				text-indent: -999em;
				background: url(#{$imgAssetPath}/ic_close@2x.png) no-repeat 50% 50% / 24px auto;
				cursor: pointer;
			}
		}

		.detail-wrapper {
			padding: 16px 12px;
			color: #2a2a2a;
			background:#fff;
			font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 1.5em;

			.address {
				margin-bottom: 14px;
			}

			.phone {
				margin-bottom: 14px;
			}
		}

	}

	.open {

		.item-details {
			max-height: 1000px;
			top: 50px;
			opacity: 1;

			@include respond-to("large") {
				top: 100px;
			}

		}

		&:before {
			content: "";
			position: fixed;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			display: block;
			background: rgba(0,0,0,0.5);
			z-index: 300;
		}
	}
}